<ion-header>
  <ion-navbar>
    <ion-title>
        <img class="iconTxT" src="assets/imgs/txtLogo.png" alt="txt-logo">Calculator App <ion-icon name="calculator"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div id="calculator">
        <div id="outputBox">
            {{inputFocus}}
        </div>

        <ion-grid>
            <ion-row>
                <ion-col col-3 *ngFor="let o of operators">
                    <button ion-button color="light" full (click)="operatorTapped($event, o)">{{o}}</button>
                </ion-col>
                <ion-col col-3>
                    <button ion-button color="light" full (click)="deleteDigitTapped($event)"><ion-icon name="backspace"></ion-icon></button>
                </ion-col>
            </ion-row>

            <ion-row *ngFor="let item of items">
                <ion-col col-3 *ngFor="let c of colOffset">
                    <button ion-button color="light" full (click)="digitTapped($event, item.row+c)">{{item.row+c}}</button>
                </ion-col>
                <ion-col col-3>
                    <button ion-button color="light" full (click)="operatorTapped($event, item.op)">{{item.op}}</button>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col col-6>
                    <button full ion-button color="light" (click)="digitTapped($event, 0)">0</button>
                </ion-col>
                <ion-col col-3>
                    <button full ion-button color="light" (click)="digitTapped($event, '.')">.</button>
                </ion-col>
                <ion-col col-3>
                    <button full ion-button color="light" (click)="equalsTapped($event)">=</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div id="notePad">
        <div id="notePadTitle">
            <h2>History:</h2>
        </div>
        <div id="notePadBody">
            <div id="notePadEntry" *ngFor="let entry of entries">
                {{entry.operand1}} {{entry.op}} {{entry.operand2}} {{entry.eq}} {{entry.total}}
            </div>
        </div>
    </div>

</ion-content>

